
table{
    background-color:#3c3c3c;
    margin-left:250px;

    
}

body{
    background-color: rgb(205, 206, 135);
}

form{
    margin-left:30%;
  }
input{
  margin-top:0.5%;
  width:300px;
  height:25px;
  border-radius:10%;
  padding-left:15px;
  opacity: 0.5;
  
}
.style1{
    background-color: yellowgreen;
}

.style2{
    
    background-color: rgb(235, 107, 21);
}
p{
    margin-left:25%;
    margin-top:25%;
  }

